.box {
  height: 73px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.publishEvent {
  width: 133px;
  height: 36px;
  padding: 8px 13px !important;
}

.navbar .logo {
    text-align: left;
    line-height: 73px;
}

@media (min-width: 1200px){
  .navbar .logo {
      text-align: center;
      padding-top: 10px;
  }
}

.navbar .logo img {
    width: 100px;
}

.navbar {
    height: auto;
    z-index: 3000301;
    padding: 0;
    height: 73px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.navbar .input-search {
    width: 100%;
    max-width: 500px;
    padding: 16px 0;
    margin-left: 3%;
}

.navbar .input-search i {
    position: absolute;
    left: 0;
    font-size: 14px;
    padding: 12px;
    color: #19bbf5;
}

.navbar .input-search input {
    padding-left: 32px;
}

.navbar .logo {
  text-align: center;
  padding-top: 10px;
}

.nav {
  border-width: 0;
  list-style: none;
  margin-top: 10px;
}

.nav a {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0;
  padding: 12px 16px;
  color: #19bbf5;
  outline: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.nav a:hover {
    background-color: #fff;
    outline: none;
    color: #48cfff;
}

@media (min-width: 990px){
  .navbar input.form-control {
      height: 40px;
      width: 100%;
      background: transparent;
      color: #50525f;
      border: 1px solid transparent;
      border-radius: 3px!important;
  }
}

.mobile-nav {
    position: absolute;
    right: 2%;
    top: 28%;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
  position: relative;
  right: 114px;
  width: 133px;
  text-align: center;
  background-color: #fff;
}

.responsive-menu ul {
  padding: 0;
  list-style-type: none;
}

.responsive-menu li {
  margin: 0;
  border-bottom: #ededed solid 1px;
}

.expand {
	display: block !important;
}

#asked-questions {
  margin-top: 30px;
}

.section-gray {
  background: #8d909a;
  padding: 32px 0;
  height: 85px;
  width: 100%;
}

.section-gray img {
  width: 180px;
  height: auto;
  float: right;
}

.section-gray a {
  text-align: left;
  margin-top: -8px;
}

.footer-gray {
  background-color: #3c3e47;
  padding-top: 50px;
}

.footer-gray a {
  color: #797979;
  font-size: 12px;
}

.footer-gray li.first-child a {
    color: #ddd;
}

.footer-gray li {
    color: #797979;
    font-size: 12px;
    margin-bottom: 5px;
}

.footer-gray .first-child {
  color: #ddd;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-gray a {
  color: #aaa;
}

.footer-gray a:hover {
  color: #797979;
}
