<header>
  <div class="navbar navbar-fixed-top box app-header">
    <div class="row">
      <div class="col-xs-5 visible-lg">
        <!--<div class="input-group input-search" id="input-search-navbar">
          <i class="fa fa-search"></i>
          <input #input_category type="text" class="form-control" placeholder="Digite ou selecione uma categoria" id="tags" name="tags" autocomplete="off">
        </div>-->
      </div>
      <div class="col-xs-4 col-md-3 col-lg-2 logo">
        <a routerLink="events">
            <img src="../src/static/logo.png" alt="logo Angular" class="logo">
        </a>
      </div>
      <div class="hidden-sm col-md-4 col-lg-2"></div>
      <div class="hidden-xs col-xs-8 col-sm-8 col-md-5 col-lg-3">
        <nav class="navbar nav">
          <ul class="nav navbar-nav">
            <li><a routerLink="events">Home</a></li>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="admin">Admin</a></li>
            <li><a routerLink="about">About</a></li>
            <!--<li><a routerLink="contact">Contact</a></li>-->
            <li class="btn-outline btn-fill-white">
                <a routerLink="admin/events/add" class="publishEvent" >+Publish Event</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav col-xs-1 visible-xs">
        <div class="menu-btn" id="menu-btn" [class.btn-none]="isMenuActive" (click)="activeMenu()">
          <div></div>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="responsive-menu" [class.expand]="isMenuActive">
            <ul>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
    </div>
  </div>
</header>
<div class="container-fluid" style="padding-top: 73px; margin: 0 -15px">

  <!--<app-eventos></app-eventos>-->
  <router-outlet></router-outlet>

  <section id="asked-questions" class="section-gray">

    <div class="container">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <img id="imgHelp" src="https://www.sympla.com.br/images/public/img-faq-footer.png">
      </div>
      <div class="col-lg-2">
        <a class="btn btn-white-transparent btn-outline" href="#" target="_blank">Central de ajuda</a>
      </div>
      <div class="col-lg-4"></div>
    </div>

  </section>

  <footer class="footer footer-gray">

    <div class="container">

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <ul>
              <li class="first-child"><a href="#">Para produtores</a></li>
              <li><a id="footer-how-link" href="#">Como funciona</a></li>
              <li><a id="footer-how-link" href="#">Soluções</a></li>
              <li><a id="footer-how-link" href="#">Serviços</a></li>
              <li><a id="footer-how-link" href="#">Preço</a></li>
              <li><a id="footer-how-link" href="#" target="_blank">Cases de sucesso</a></li>
              <li><a id="footer-how-link" href="javascript:;" onclick="showFaleConsultor('footer');">Fale com um consultor</a></li>
          </ul>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <ul>
            <li class="first-child">Planeje Seu Evento</li>
            <li><a href="#">Congresso, seminário</a></li>
            <li><a href="#">Show, música e festa</a></li>
            <li><a href="#">Esportivo</a></li>
            <li><a href="#">Curso, workshop</a></li>
            <li><a href="#">Encontro, networking</a></li>
            <li><a href="#">Evento online</a></li>
            <li><a href="#">Religioso</a></li>
            <li><a href="#">Gastronômico</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <ul>
            <li class="first-child"><a href="/eventos">Encontre Eventos</a></li>
            <li><a href="#">São Paulo</a></li>
            <li><a href="#">Belo Horizonte</a></li>
            <li><a href="#">Rio de Janeiro</a></li>
            <li><a href="#">Salvador</a></li>
            <!-- <li></li> -->
        </ul>

        <ul class="margin-top-20">
            <li class="first-child">Compre pelo app</li>
            <div class="padding-bottom-20-xs padding-bottom-0-md">
                <div class="col-centered hdicon-responsive-container" style="width: 105px; height: 32px; margin-right: 3px; float: left;">
                    <!--<a target="_blank" href="#"><div class="icon-app-store-badge"></div></a>-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1280px-Download_on_the_App_Store_Badge.svg.png">
                </div>
                <div class="col-centered hdicon-responsive-container" style="width: 105px; height: 32px; margin-left: 3px; float: right; margin-right: 39px;">
                    <!--<a target="_blank" href="#"><div class="icon-google-play-badge"></div></a>-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/2000px-Get_it_on_Google_play.svg.png">
                </div>
            </div>
        </ul>

      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <ul>
              <li class="first-child"><a href="#">Empresa</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#" target="_blank">Blog</a></li>
              <li><a href="#">Sobre a Lorem Ipsum</a></li>
              <li><a href="#">Trabalhe conosco</a></li>
          </ul>

          <ul id="footer-media" style="display: inline-block;">
              <li class="first-child">Siga-nos</li>
              <li class="pull-left"><a href="#" target="_blank"><img style="height: 20px" src="https://www.sympla.com.br/images/img-icon-facebook-footer.png"></a></li>
              <li class="pull-left" style=""><a href="#" target="_blank"><img style="height: 20px" src="https://www.sympla.com.br/images/img-icon-twitter-footer.png"></a></li>
              <li class="pull-left"><a href="#" target="_blank"><img style="height: 20px" src="https://www.sympla.com.br/images/img-icon-vimeo-footer.png"></a></li>
          </ul>
        </div>

        <div class="col-md-12 text-center">
          <p>© 2017 Todos os direitos reservados. <a href="#">Termos de uso</a> | <a href="#"> Política de privacidade</a></p>
        </div>

    </div>

  </footer>
</div>
